<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
    <title>ToDO: Register</title>
</head>

<body>
    <div class="register">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div class="txt_field">
                <input type="text" id="firstName" name="firstName" required>
                <span></span>
                <label for="firstName">First Name</label>
            </div>
            <div class="txt_field">
                <input type="text" id="lastName" name="lastName" required>
                <span></span>
                <label for="lastName">Last Name</label>
            </div>
            <div class="txt_field">
                <input type="email" id="emailId" name="emailId" required>
                <span></span>
                <label for="emailId">Email Id</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" required>
                <span></span>
                <label for="password">Set Password</label>
            </div>
            <button type="submit">Register</button>
            <div class="login_link">
                Already a memeber? <a href="/login">Login</a>
            </div>
        </form>
    </div>
</body>

</html>